<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add
			connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=DBeAgenda;Integrated Security=True;Pooling=False"
			name="SqlServer"
			providerName="System.Data.SqlClient"
		/>

		<add
				connectionString="Data Source=C:/Users/Andrey/source/repos/ControleDeTarefas/DBSqLite/DBeAgenda.db;Version=3"
				name="SQLite"
				providerName="System.Data.SQLite"
       />
	</connectionStrings>

	<appSettings>
		<add key="bancoParaUso" value="SQLite"/>
	</appSettings>

	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite.EF6" />
			<add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>
</configuration>